@model FinalProject.Models.user
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center><h1 style="font-family:Arial, Helvetica, sans-serif;color:red">...........Enter Correct Username or Password...........</h1></center>
<center>
    <input style="background-color:red;color:whitesmoke" type="submit" value="Try again"/>
</center>
}